{% extends "base.html" %}

{% block content %}

<div>
    <div class="marquee">
        NewsQuery
    </div>
        <div class="article_count">
            {{ article_added }} <br/>
            Database consists of {{ num_articles }} articles.
        </div>
</div>

<div>
    <form action="{{ url_for('add_article') }}", method="POST">
        <input name="article_to_add" type="text" size="50" placeholder="Copy/paste text here to update database."> <br/>
        <button type="submit">Add</button>
    </form>
    <form action="{{ url_for('query_articles') }}", method="POST">
        <input name="query_statement" type="text" size="50" placeholder="Query database with a sentence..."> <br/>
        <button type="submit">Query</button>
    </form>
</div>

{% if result %}
<div class="results">
    Most positively associated item (score {{ result.positive.score }}):
    <div class="positive_result">
        {{ result.positive.item }}
    </div>
    Most negatively associated item (score {{ result.negative.score }}):
    <div class="negative_result">
        {{ result.negative.item }}
    </div>
</div>
{% endif %}

{% endblock %}
