.marquee {
    font-size: 8vh;
}

.article_count {
    margin-bottom: 2vh;
}

.results {
    margin: 2vh 0 2vh 0;
    text-align: justify;
}

.positive_result {
    margin-bottom: 2vh;
    text-align: center;
    color: #4CAF50;
}

.negative_result {
    margin-bottom: 2vh;
    text-align: center;
    color: #f44336;
}

button {
    width: 6vw;
    border-radius: 8px;
    margin-bottom: 1vh;
    background-color: #4CAF50;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: #4CAF50;
}
